extends layout

block content
  if earl
    h2= earl
  if feedback
    h3= feedback
  form(method="post")
    div
      label(for="earl") Enter a URL
    div
      button#http HTTP
      button#https HTTPS
      input(type="text", name="earl")
      input(type="submit", value="submit" )
