<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content=
"width=device-width, initial-scale=1.0">
<title>Earl Catcher</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div id="main"><%- markup -%></div>
<script src="/javascripts/bundle.js">
</script>
<h1>Uh... oh</h1>
This is awkward. We're sorry there seems to have been an error. We promise to erradicate all the bugs.

Contact <a mailto:href="lea.fox@pepperdine.com">Lea Fox</a> if you need immediate assistance.
</body>
</html>
